* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: rgba(249, 182, 134, 0.49);
    padding: 2% 5%;
    height: 80px;
    display: flex;
    align-items: center;
}

.nav-image {
    height: 100%;
}

.nav-image img {
    height: 100%;
}

.nav-name{
    color: black;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 100%;
}

